#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    tab_bar: (
        enabled: true,
        active_style: (fg: "black", bg: "blue", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "blue", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "blue", modifiers: "Bold"),
    borders_style: (fg: "blue"),
    highlight_border_style: (fg: "blue"),
    symbols: (song: "S", dir: "D", marker: "M", ellipsis: "..."),
    progress_bar: (
        symbols: ["█", "🭞", " "],
        track_style: (fg: "#1e2030"),
        elapsed_style: (fg: "blue"),
        thumb_style: (fg: "blue", bg: "#1e2030"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "blue"),
    ),
    song_table_format: [

        (

            prop: (kind: Property(Artist), default: (kind: Text("Unknown"))),

            width: "50%",

            alignment: Right,

        ),

        (

            prop: (kind: Text("-"), default: (kind: Text("Unknown"))),

            width: "1",

            alignment: Center,

        ),

        (

            prop: (kind: Property(Title), default: (kind: Text("Unknown"))),

            width: "50%",

        ),

    ],
    layout: Split(
        direction: Vertical,
        panes: [
                    (

            size: "8",

            pane: Split(

                direction: Horizontal,

                panes: [

                    (

                        size: "21",

                        pane: Pane(AlbumArt),

                    ),

                    (

                        size: "100%",

                        pane: Split(

                            direction: Vertical,

                            panes: [

                                (

                                    size: "5",

                                    pane: Pane(Header),

                                ),

                                (

                                    size: "1",

                                    pane: Pane(ProgressBar),

                                ),

                                (

                                    size: "3",

                                    pane: Pane(Tabs),

                                ),

                            ]

                        )

                    ),

                ]

            ),

        ),
                (
                pane: Pane(TabContent),
                size: "100%",
                borders: "ALL",
            ),
                    ],
    ),
    header: (
        rows: [
            (
                left: [
                ],
                center: [
                    (kind: Property(Song(Title)), style: (modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (modifiers: "Bold"))
                    )
                ],
                right: [
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "yellow", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "yellow", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)),
                        default: (kind: Text("Unknown Album"))
                    )
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "white", modifiers: "Bold"),
                            separator_style: (fg: "white")))
                        ),
                        style: (fg: "dark_gray")
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)

