include "execs.kdl"
// include "env.kdl"
include "general.kdl"
include "keybinds.kdl"
include "opacity&blur.kdl"
include "windowrules.kdl"
include "noctalia.kdl"
// include "powersaver.kdl"
// include "./animations/glitch_01.kdl"
// include "transparency.kdl"
