// keep this on top since it need to be overrided later

window-rule {
    opacity 0.92
}

// window-rule {
//     match is-focused=true
//     opacity 0.92
// }

blur {
   passes 4        // more passes = stronger blur (default: 3)
   offset 4.0      // sample distance per pass (default: 3.0)
   noise 0.06      // grain overlay (default: 0.02)
   saturation 1.8  // color saturation boost (default: 1.5)
}

/* Blur everywhere */
window-rule {
  background-effect {
    blur true
    xray true
  }
}

window-rule {
  match app-id="^org\\.kde\\.dolphin$"
  popups {
    background-effect {
      blur true
      xray false
    }
    geometry-corner-radius 7
  }
}

layer-rule {
    match namespace="^wlr_which_key$"
    opacity 0.90
    background-effect {
        blur true
        xray true
    }
    geometry-corner-radius 9
}

/* Floating noctalia settings */
window-rule {
  match app-id="dev.noctalia.noctalia-qs"
  open-floating true
}

// layer-rule {
//     match namespace="^noctalia-bar-main.*"
//     background-effect {
//         blur true
//         xray false
//     }
// }

 // layer-rule {
 //   match namespace="^noctalia-background-.*$"
 //   background-effect {
 //     xray false
 //   }
 // }

// layer-rule {
//     match namespace="^noctalia-desktop-widgets-eDP-2"
//     background-effect {
//         blur true
//         xray false
//   }
// }
// ..

// opacity and blur overrides
window-rule {
    match app-id=r#"\.*org\.kde\.okular.*|.*mpv.*|.*vlc.*|.*org\.kde\.gwenview.*|^com\.obsproject\.Studio$"#
    match app-id=r#".*zen.*"# title=r#"^(\([0-9]\))*.*YouTube.*"#
    // match app-id=r#".*zen.*"# title=r#".*[Rr]eddit.*"#
    opacity 1.00
    background-effect {
        blur false
    }
}
// ..
